h1 {
    color: rgb(63, 63, 63);
    padding-bottom: 0.2em;
    margin-bottom: 0;
}

.story {
    font-size: 0.9em;
    margin-bottom: 2em;
    font-style: italic;
    padding-left: 2em;
    color: rgb(87, 83, 83);
}

.ifu {
    padding-bottom: 1em;
}

.subtitle {
    font-size: large;
    font-weight: 600;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
    text-decoration: underline;
}

.instruction {
    padding-left: 0.5em;
}